{% extends '_include/base-index.html' %}
{% block head %}
{% load static %}
{% load render_table from django_tables2 %}
<title>{{ APP_CONSTANT_APP_NAME }} : {{ title }}</title>
{% endblock %}
{% block body %}
{% load static %}{% csrf_token %}
<script type="text/javascript" charset="utf-8">
    var ajax_url = {
        "url": "{% url 'logs_datatable_view' %}",
        "type": "GET",
        "data": {
            "csrfmiddlewaretoken": "{{ csrf_token }}",
            "model": "activities_inputs",
            "modelId": "{{  model.activity_id}}"
        },
    };
</script>
<div id="page-head">
    <div id="page-title">
        <h1 class="page-header text-overflow">{{ title }}</h1>
    </div>
    <ul class="breadcrumb">
        <li><a href="{% url 'users_dashboard' %}">Home</a></li>
        <li><a href="{% url 'activities_view' pk=activity.activity_id %}">{{activity.activity_name }}</a></li>
        <li><a href="{% url 'activities_inputs_view' pk=model.activity_input_id %}">{{model.activity_input_class }}</a></li>
        <li class="active">Details</li>
    </ul>
</div>
<div id="page-content" style="padding-top:0px;">
    <div class="row">
        <div class="col-sm-12">
            <div class="tab-base">
                <!--Nav Tabs-->
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a data-toggle="tab" href="#demo-lft-tab-1">Details</a>
                    </li>
                    <li class="">
                        <a data-toggle="tab" href="#demo-lft-tab-3">Logs
                            <!-- <span class="badge badge-danger">{{ count_logs }}</span> -->
                        </a>
                    </li>
                </ul>
                <!--Tabs Content-->
                <div class="tab-content">
                    <div id="demo-lft-tab-1" class="tab-pane fade active in">
                        {% if activity.activity_status == activity.STATUS_DRAFT or activity.activity_status == activity.STATUS_BUDGET_REJECTED  or activity.activity_status == activity.STATUS_EXPENSES_REJECTED %}
                        <div>
                            {% if ACCESS_PERMISSION_ACTIVITIES_UPDATE in auth_permissions.values %}
                            <a href="{% url 'activities_inputs_update' pk=model.activity_input_id %}" class="btn btn-info">Update</a>
                            {% endif %}
                            {% if ACCESS_PERMISSION_ACTIVITIES_DELETE in auth_permissions.values %}
                            <a href="#"
                                onclick="singleSelect('{{ select_single_url }}', 'delete', '{{ model.activity_input_id }}', '{{ index_url }}');"
                                class="btn btn-danger">Delete</a>
                            {% endif %}
                        </div>
                        {% endif %}
                        {% if activity.activity_status == activity.STATUS_SUBMITTED and model.activity_input_status == model.STATUS_BUDGET_REJECTED %}
                        <div>
                          {% if ACCESS_PERMISSION_ACTIVITIES_UPDATE in auth_permissions.values %}
                          <a href="{% url 'activities_inputs_update' pk=model.activity_input_id %}" class="btn btn-info">Update</a>
                          {% endif %}
                          {% if ACCESS_PERMISSION_ACTIVITIES_DELETE in auth_permissions.values %}
                          <a href="#"
                              onclick="singleSelect('{{ select_single_url }}', 'delete', '{{ model.activity_input_id }}', '{{ index_url }}');"
                              class="btn btn-danger">Delete</a>
                          {% endif %}
                      </div>
                      {% endif %}
                        <br>
                        <div class="row">
                            <div class="col-sm-8">
                                <table class="table table-bordered table-hover" cellspacing="0" width="100%">
                                    <thead>
                                        <tr style="background-color: #efefef;">
                                            <th style="width:30%;">Key</th>
                                            <th style="width:70%;">Value</th>
                                        </tr>
                                        <tr>
                                            <td class="text-bold">{{ form.input_class.label }}</td>
                                            <td>{{ model.activity_input_class }}</td>
                                        </tr>
                                        <tr>
                                            <td class="text-bold">{{ form.input_sub_class.label }}</td>
                                            <td>{{ model.activity_input_sub_class }}</td>
                                        </tr>
                                        {% if organization.organization_type == "Social Health Insurances" or organization.organization_type == "Private insurances"%}
                                        <tr>
                                            <td class="text-bold">{{ form.scheme_class.label }}</td>
                                            <td>{{ model.activity_input_scheme_class}}</td>
                                        </tr>
                                        <tr>
                                            <td class="text-bold">{{ form.scheme_sub_class.label }}</td>
                                            <td>{{ model.activity_input_scheme_sub_class}}</td>
                                        </tr>
                                        {% endif %}
                                        <tr>
                                            <td class="text-bold">{{ form.funder.label }}</td>
                                            <td>{{ model.activity_input_funder}}</td>
                                        </tr>
                                        <tr>
                                            <td class="text-bold">{{ form.transfer_class.label }}</td>
                                            <td>{{ model.activity_input_funds_transfer_class}}</td>
                                        </tr>
                                        
                                        <tr>
                                            <td class="text-bold">{{ form.sub_transfer_class.label }}</td>
                                            <td>{{ model.activity_input_funds_transfer_sub_class}}</td>
                                        </tr>

                                        <tr>
                                            <td class="text-bold">{{ form.implementer.label }}</td>
                                            <td>{{ model.activity_input_implementer}}</td>
                                        </tr>
                                        <tr>
                                            <td class="text-bold">{{ form.division.label }}</td>
                                            <td>{{ model.activity_input_division}}</td>
                                        </tr>
                                        <tr>
                                            <td class="text-bold">{{ form.budget.label }}</td>
                                            <td>{{ model.activity_input_budget}} {{ model.activity_input_budget_currency}}</td>
                                        </tr>
                                        <tr>
                                            <td class="text-bold">{{ form.expenses.label }}</td>
                                            <td>{{ model.activity_input_expenses}} {{ model.activity_input_expenses_currency}}</td>
                                        </tr>
                                        <!-- <tr>
                                            <td class="text-bold">{{ form.fiscal_year.label }}</td>
                                            <td>{{ model.activity_input_fiscal_year}}</td>
                                        </tr> -->
                                        <tr>
                                            <td class="text-bold">Created At</td>
                                            <td>{{ model.activity_input_created_at }}</td>
                                        </tr>
                                        <tr>
                                            <td class="text-bold">Created By</td>
                                            <td>{{ model.activity_input_created_by }}</td>
                                        </tr>
                                        <tr>
                                            <td class="text-bold">Updated At</td>
                                            <td>{{ model.activity_input_updated_at }}</td>
                                        </tr>
                                        <tr>
                                            <td class="text-bold">Updated By</td>
                                            <td>{{ model.activity_input_updated_by }}</td>
                                        </tr>

                                        <tr>
                                            <td class="text-bold">Status</td>
                                            <td>
                                                {% if model.activity_input_status == model.STATUS_DRAFT %}
                                                <div style="width:100px;">{{model.HTML_TAG_STATUS_DRAFT_COLOR | safe }}</div>
                                                {% endif %}
                                                {% if model.activity_input_status == model.STATUS_SUBMITTED %}
                                                <div style="width:100px;">{{ model.HTML_TAG_STATUS_SUBMITTED_COLOR | safe}}</div>
                                                {% endif %}
                                                {% if model.activity_input_status == model.STATUS_BUDGET_ACCEPTED %}
                                                <div style="width: 100px">{{ model.HTML_TAG_STATUS_BUDGET_ACCEPTED_COLOR | safe }}</div>
                                                {% endif %}
                                                {% if model.activity_input_status == model.STATUS_BUDGET_REJECTED %}
                                                <div style="width: 100px">{{ model.HTML_TAG_STATUS_BUDGET_REJECTED_COLOR | safe }}</div>
                                                {% endif %}
                                                {% if model.activity_input_status == model.STATUS_BUDGET_APPROVED %}
                                                <div style="width: 100px">{{ model.HTML_TAG_STATUS_BUDGET_APPROVED_COLOR | safe }}</div>
                                                {% endif %}
                                                {% if model.activity_input_status == model.STATUS_BUDGET_DENIED %}
                                                <div style="width: 100px">{{ model.HTML_TAG_STATUS_BUDGET_DENIED_COLOR | safe }}</div>
                                                {% endif %}
                                                {% if model.activity_input_status == model.STATUS_EXPENSES_ACCEPTED %}
                                                <div style="width: 100px">{{ model.HTML_TAG_STATUS_EXPENSES_ACCEPTED_COLOR | safe }}</div>
                                                {% endif %}
                                                {% if model.activity_input_status == model.STATUS_EXPENSES_REJECTED %}
                                                <div style="width: 100px">{{ model.HTML_TAG_STATUS_EXPENSES_REJECTED_COLOR | safe }}</div>
                                                {% endif %}
                                                {% if model.activity_input_status == model.STATUS_EXPENSES_APPROVED %}
                                                <div style="width: 100px">{{ model.HTML_TAG_STATUS_EXPENSES_APPROVED_COLOR | safe }}</div>
                                                {% endif %}
                                                {% if model.activity_input_status == model.STATUS_EXPENSES_DENIED %}
                                                <div style="width: 100px">{{ model.HTML_TAG_STATUS_EXPENSES_DENIED_COLOR | safe }}</div>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            <div class="col-sm-4">
                              {% if ACCESS_PERMISSION_COMMENTS_VIEW in auth_permissions.values %}
                              <div class="panel">
                                <div class="panel-heading">
                                  <h3 class="panel-title">Comments</h3>
                                </div>
                                <div class="collapse in" id="panel-collapse-comments">
                                  <div class="panel-body">
                                    <ul id="id_comments_list" class="sortable-list tasklist list-unstyled ui-sortable">
                        
                                    </ul>
                                    
                                  </div>
                                </div>
                              </div>
                              {% endif %}
                            </div>
                        </div>
                    </div>
                    {% if user.user_role == user.TYPE_ACTIVITY_MANAGER%}
                    {% if model.activity_input_status == model.STATUS_DRAFT or model.activity_input_status == model.STATUS_BUDGET_REJECTED %}
                    {% include './_budget_accept_reject.html' %}
                    {% endif %}

                    {% if model.activity_input_status == model.STATUS_BUDGET_ACCEPTED and expenditure > 0.00 %}
                    {% include './_expenditure_accept_reject.html' %}
                    {% endif %}

                    {% if model.activity_input_status == model.STATUS_EXPENSES_DENIED and expenditure > 0.00 %}
                    {% include './_expenditure_accept_reject.html' %}
                    {% endif %}
                    {% endif %}

                    {% if user.user_role == user.TYPE_SUPER_ADMIN %}
                    
                    {% if model.activity_input_status == model.STATUS_BUDGET_ACCEPTED %}
                    {% if ACCESS_PERMISSION_ACTIVITIES_APPROVE in auth_permissions.values %}
                    {% include './_budget_approve_deny.html' %}
                    {% endif %}
                    {% endif %}

                    {% if model.activity_input_status == model.STATUS_EXPENSES_ACCEPTED  %}
                    {% if ACCESS_PERMISSION_ACTIVITIES_APPROVE in auth_permissions.values %}
                    {% include './_expenditure_approve_deny.html' %}
                    {% endif %}
                    {% endif %}


                    {% endif %}

                    <div id="demo-lft-tab-3" class="tab-pane fade">
                        <!-- {% if ACCESS_PERMISSION_LOG_VIEW in auth_permissions.values %} -->
                        <div id="id_logs_list"></div>
                        <!-- {% endif %} -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" charset="utf-8">
    var logs = [];
    var drawLogs = 1;
    var startLogs = 0;
    var lengthLogs = 10;
    function fetchLogs(draw, start, length) {
        var csrfmiddlewaretoken = document.querySelector('[name="csrfmiddlewaretoken"]').value;
        jQuery(function ($) {
            $.ajax({
                type: "GET",
                url: "{% url 'logs_datatable_view' %}",
                data: {
                    csrfmiddlewaretoken: csrfmiddlewaretoken,
                    model: "activities_inputs",
                    model_id: "{{ model.activity_input_id }}",
                    draw: draw,
                    start: start,
                    length: length,
                },
                success: function (result) {
                    bootbox.hideAll();
                    var items = JSON.parse(JSON.stringify(result)).data;
                    var recordsTotal = JSON.parse(JSON.stringify(result)).recordsTotal;
                    if (start == 0) {
                        logs.length = 0;
                    }
                    items.forEach(function (item) {
                        logs.push(item);
                    });
                    var showMore = null;
                    if (recordsTotal > logs.length) {
                        drawLogs = drawLogs++;
                        startLogs = logs.length;
                        showMore = '<button class="btn btn-xs btn-default mar-top" onClick="javascript:fetchLogs(' + drawLogs + ', ' + startLogs + ', ' + lengthLogs + ');">Show more</button>'
                    }
                    updateUiLogs(showMore);
                },
                error: function (result) {
                    bootbox.hideAll();
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'Something went wrong!!! Please try again.',
                        customClass: {
                            confirmButton: 'btn btn-danger',
                        },
                        buttonsStyling: false
                    });
                },
            });
            return;
        });
        return;
    }
    function updateUiLogs(showMore) {
        div_logs = '';
        logs.forEach(function (log) {
            div_logs += '<div class="comment-content media"><div class="media-body"><div class="comment-header"><span class="text-main text-semibold">' + log.log_message + '</span><br><small class="text-muted"> - ' + log.log_updated_at + ' by ' + log.log_updated_by + '</small></div>';
        });
        if (showMore != null) {
            div_logs += showMore;
        }
        if (div_logs) {
            document.getElementById("id_logs_list").innerHTML = div_logs;
        }
    }
    fetchLogs(drawLogs, startLogs, lengthLogs);
</script>
<script type="text/javascript" charset="utf-8">
    $("#id_form_comments").submit(function (event) {
      createComment($("#id_message_comments").val());
      event.preventDefault();
    });
    var comments = [];
    var drawComments = 1;
    var startComments = 0;
    var lengthComments = 3;
    var createComment;
    createComment = function createComment(message) {
      if (message !== "") {
        var csrfmiddlewaretoken = document.querySelector('[name="csrfmiddlewaretoken"]').value;
        bootbox.dialog({
          closeButton: false,
          title: "Message",
          message:
            "" +
            "<p>Please wait while loading ...</p>" +
            '<div class="active progress progress-lg progress-striped"><div style="width: 100%;" class="progress-bar progress-bar-primary"></div></div>' +
            "",
        });
        jQuery(function ($) {
          $.ajax({
            type: "POST",
            url: "{% url 'comments_create' %}",
            data: {
              csrfmiddlewaretoken: csrfmiddlewaretoken,
              model: "activities_inputs",
              model_id: "{{ model.activity_input_id }}",
              parent_id: "0",
              message: message,
              section: "",
              attachment: 0,
            },
            success: function (result) {
              bootbox.hideAll();
              if (result === "signin") {
                window.location.replace("{% url 'users_signout' %}");
                return;
              }
              if (result === "success") {
                drawComments = 1;
                startComments = 0;
                fetchComments(drawComments, startComments, lengthComments);
                return;
              }
              Swal.fire({
                icon: 'error',
                title: 'Error',
                text: 'Something went wrong!!! Please try again.',
                customClass: {
                  confirmButton: 'btn btn-danger',
                },
                buttonsStyling: false
              });
            },
            error: function (result) {
              bootbox.hideAll();
              Swal.fire({
                icon: 'error',
                title: 'Error',
                text: 'Something went wrong!!! Please try again.',
                customClass: {
                  confirmButton: 'btn btn-danger',
                },
                buttonsStyling: false
              });
            },
          });
          return;
        });
      }
      return;
    };
  
    function fetchComments(draw, start, length) {
      var csrfmiddlewaretoken = document.querySelector('[name="csrfmiddlewaretoken"]').value;
      jQuery(function ($) {
        $.ajax({
          type: "GET",
          url: "{% url 'comments_datatable_view' %}",
          data: {
            csrfmiddlewaretoken: csrfmiddlewaretoken,
            model: "activities_inputs",
            model_id: "{{model.activity_input_id}}",
            section: "",
            user_id: "{{ user.user_id }}",
            draw: draw,
            start: start,
            length: length,
          },
          success: function (result) {
            bootbox.hideAll();
            var items = JSON.parse(JSON.stringify(result)).data;
            var recordsTotal = JSON.parse(JSON.stringify(result)).recordsTotal;
            if (start == 0) {
              comments.length = 0;
            }
            items.forEach(function (item) {
              comments.push(item);
            });
            var showMore = null;
            if (recordsTotal > comments.length) {
              drawComments = drawComments++;
              startComments = comments.length;
              showMore = '<button class="btn btn-xs btn-default" onClick="javascript:fetchComments(' + drawComments + ', ' + startComments + ', ' + lengthComments + ');">Show more</button>'
            }
            updateUiComments(showMore);
          },
          error: function (result) {
            bootbox.hideAll();
            Swal.fire({
              icon: 'error',
              title: 'Error',
              text: 'Something went wrong!!! Please try again.',
              customClass: {
                confirmButton: 'btn btn-danger',
              },
              buttonsStyling: false
            });
          },
        });
        return;
      });
      return;
    }
  
    function updateUiComments(showMore) {
      div_comments = '';
      comments.forEach(function (comment) {
        let status
        if (comment.comment_parent_id == "{{ model.STATUS_SUBMITTED }}") {
          status = '<span class="label label-warning">Submitted</span>';
        }
        if (comment.comment_parent_id == "{{ model.STATUS_BUDGET_ACCEPTED }}") {
          status = '<span class="label label-success">Budget Reviewed </span>';
        }
        if (comment.comment_parent_id == "{{ model.STATUS_BUDGET_REJECTED }}") {
          status = '<span class="label label-danger">Budget Rejected</span>';
        }
        if (comment.comment_parent_id == "{{ model.STATUS_BUDGET_APPROVED }}") {
        status = '<span class="label label-success">Budget Approved</span>';
        }
        if (comment.comment_parent_id == "{{ model.STATUS_BUDGET_DENIED }}") {
        status = '<span class="label label-danger">Budget Denied</span>';
        }

        if (comment.comment_parent_id == "{{ model.STATUS_EXPENSES_ACCEPTED }}") {
          status = '<span class="label label-success">Expenditure  Reviewed </span>';
        }
        if (comment.comment_parent_id == "{{ model.STATUS_EXPENSES_REJECTED }}") {
          status = '<span class="label label-danger">Expenditure Rejected</span>';
        }
        if (comment.comment_parent_id == "{{ model.STATUS_EXPENSES_APPROVED }}") {
        status = '<span class="label label-success">Expenditure Approved</span>';
        }
        if (comment.comment_parent_id == "{{ model.STATUS_EXPENSES_DENIED }}") {
        status = '<span class="label label-danger">Expenditure Denied</span>';
        }
        div_comments += '<li class="task-warning ui-sortable-handle"><p class="text-bold text-main text-sm">' + comment.comment_updated_by + '</p><p>' + status + '</p><p class="pad-btm bord-btm">' + comment.comment_message + '</p><span class="task-footer"><span class="box-inline"><span class="pad-rgt">' + comment.comment_updated_at + '</span></span><span class="text-sm"></span></span></li>';
      });
      if (showMore != null) {
        div_comments += showMore;
      }
      if (div_comments) {
        document.getElementById("id_comments_list").innerHTML = div_comments;
      }
    }
  
    fetchComments(drawComments, startComments, lengthComments);
  </script>
  <script type="text/javascript" charset="utf-8">
    function onUpdateStatus(action) {
        
      var confirmMessage;
      if (action === 'budget accept') {
        confirmMessage = "Are you sure you want to accept this budget?";
      }
      if (action === 'budget reject') {
        confirmMessage = "Are you sure you want to reject this budget?";
      }
      if (action === 'budget approve') {
      confirmMessage = "Are you sure you want to approve this budget?";
      }
      if (action === 'budget deny') {
       confirmMessage = "Are you sure you want to deny this budget?";
      }
      if (action === 'expenses accept') {
        confirmMessage = "Are you sure you want to accept this Expenditure?";
      }
      if (action === 'expenses reject') {
        confirmMessage = "Are you sure you want to reject this Expenditure?";
      }
      if (action === 'expenses approve') {
      confirmMessage = "Are you sure you want to approve this Expenditure?";
      }
      if (action === 'expenses deny') {
       confirmMessage = "Are you sure you want to deny this Expenditure?";
      }
      if (action !== '') {
        var csrfmiddlewaretoken = document.querySelector('[name="csrfmiddlewaretoken"]').value;
        bootbox.confirm({
          title: "Confirm?",
          message: confirmMessage,
          buttons: {
            cancel: { label: '<i class="fa fa-times"></i> Cancel' },
            confirm: { label: '<i class="fa fa-check"></i> Ok' }
          },
          callback: function (confirmed) {
            if (confirmed) {
              bootbox.dialog({
                closeButton: false,
                title: "Message",
                message: '' + '<p>Please wait while loading ...</p>' + '<div class="active progress progress-lg progress-striped"><div style="width: 100%;" class="progress-bar progress-bar-primary"></div></div>' + ''
              });
              jQuery(function ($) {
                let url = "{{ select_single_url }}";
                let comments = $("#id_message_comments").val();
                if (comments == null || comments == undefined || comments == '') {
                  bootbox.hideAll();
                  Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'Please enter comments.',
                    customClass: {
                      confirmButton: 'btn btn-danger',
                    },
                    buttonsStyling: false
                  });
                  return;
                }
                $.ajax({
                  type: 'POST',
                  url: url,
                  data: {
                    csrfmiddlewaretoken: csrfmiddlewaretoken,
                    action: action,
                    id: "{{ model.activity_input_id }}",
                    comments: comments,
                   
                  },
                  success: function (result) {
                    bootbox.hideAll();
                    if (result === 'signin') {
                      window.location.replace("{% url 'users_signout' %}");
                      return;
                    }
                    if (result === 'success') {
                      location.reload();
                      return;
                    }
                    Swal.fire({
                      icon: 'error',
                      title: 'Error',
                      text: 'Something went wrong!!! Please try again.',
                      customClass: {
                        confirmButton: 'btn btn-danger',
                      },
                      buttonsStyling: false
                    });
                  },
                  error: function (result) {
                    bootbox.hideAll();
                    Swal.fire({
                      icon: 'error',
                      title: 'Error',
                      text: 'Something went wrong!!! Please try again.',
                      customClass: {
                        confirmButton: 'btn btn-danger',
                      },
                      buttonsStyling: false
                    });
                  }
                });
                return false;
              });
            }
          }
        });
      }
    }
  </script>


{% include '_include/table.html' %}
{% include '_include/single_select.html' %}
{% include '_include/multiple_select.html' %}
{% endblock %}