{% extends '_include/base-general.html' %}
{% block head %}
{% load static %}
<title>{{ APP_CONSTANT_APP_NAME }} : {{ title }}</title>
{% endblock %}
{% block body %}
{% load static %}{% csrf_token %}
<div id="page-head">
    <div id="page-title">
        <h1 class="page-header text-overflow">{{ title }}</h1>
    </div>
    <ul class="breadcrumb">
        <li><a href="{% url 'users_dashboard' %}">Home</a></li>
        <!-- <li><a href="{% url 'levels_index' %}">{{ title }}</a></li> -->
        <li><a href="{% url 'fundings_view' pk=model.funding_id %}">{{ model.funding_id }}</a></li>
        <li class="active">Update</li>
    </ul>
</div>
<div id="page-content" style="padding-top:0px;">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-body">
                    <form method="post" action="">
                        {% csrf_token %}
                        <div class="form-group">
                            <label>
                                {{ form.organization.label }}
                                <label style="color: red; margin-bottom: 0;">
                                    {% if form.organization.field.required %} * {% endif %}
                                </label>
                            </label>
                            {{ form.organization }}
                            {{ form.organization.errors }}
                        </div>
                        <div class="form-group">
                            <label>
                                {{ form.amount.label }}
                                <label style="color: red; margin-bottom: 0;">
                                    {% if form.amount.field.required %} * {% endif %}
                                </label>
                            </label>
                            {{ form.amount }}
                            {{ form.amount.errors }}
                        </div>
                        <div class="form-group">
                            <label>
                                {{ form.currency.label }}
                                <label style="color: red; margin-bottom: 0;">
                                    {% if form.currency.field.required %} * {% endif %}
                                </label>
                            </label>
                            {{ form.currency }}
                            {{ form.currency.errors }}
                        </div>
                        <br>
                        <button type="submit" class="btn btn-lg btn-block btn-primary"> Submit
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" charset="utf-8">
</script>
{% endblock %}