{% extends '_include/base-general.html' %}
{% block head %}
{% load static %}
<style>
    .popover {
         width: 900px;
        }
  </style>
<title>{{ APP_CONSTANT_APP_NAME }} : {{ title }}</title>
{% endblock %}
{% block body %}
{% load static %}{% csrf_token %}
<div id="page-head">
    <div id="page-title">
        <h1 class="page-header text-overflow">{{ title }}</h1>
    </div>
    <ul class="breadcrumb">
        <li><a href="{% url 'users_dashboard' %}">Home</a></li>
        <li><a href="{% url 'projects_index' %}">{{ title }}</a></li>
        <li class="active">Add</li>
    </ul>
</div>
<div id="page-content" style="padding-top:0px;">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-body">
                      <div id="implementer_add" style="display: none;">
                        {% include './_implementer.html' %}

                    </div>
                    <form id ="project_create_form" method="post" action="">
                        {% csrf_token %}
                        <div class="form-group">
                            <label>
                                {{ form.name.label }}
                                <label style="color: red; margin-bottom: 0;">
                                    {% if form.name.field.required %} * {% endif %}
                                </label>
                            </label>
                            {{ form.name }}
                            {{ form.name.errors }}
                        </div>
                        <div class="form-group">
                            <label>
                                {{ form.organization_id.label }}
                                <label style="color: red; margin-bottom: 0;">
                                    {% if form.organization_id.field.required %} * {% endif %}
                                </label>
                            </label>
                            {{ form.organization_id }}
                            {{ form.organization_id.errors }}
                        </div>
                        <div class="form-group">
                            <label>
                                {{ form.financing_agent.label }}
                                <label style="color: red; margin-bottom: 0;">
                                    {% if form.financing_agent.field.required %} * {% endif %}
                                </label>
                            </label>
                            {{ form.financing_agent }}
                            {{ form.financing_agent.errors }}
                        </div>
                        <div class="form-group">
                            <label>
                                {{ form.implementer.label }}
                                <label style="color: red; margin-bottom: 0;">
                                    {% if form.implementer.field.required %} * {% endif %}
                                </label>
                                <span id="add-implementer" class="clickable" data-bs-toggle="popover" data-bs-placement="top">
                                    <i class="fa fa-plus-circle" aria-hidden="true" style="color:blue"></i>
                                  </span>
                            </label>
                        
                            {{ form.implementer }}
                            {{ form.implementer.errors }}
                        </div>
                       
                        <div class="form-group">
                            <label>
                                {{  form.start_time.label }}
                                <label style="color: red; margin-bottom: 0;">
                                    {% if form.start_time.field.required %} * {% endif %}
                                </label>
                            </label>
                            <div id="demo-dp-component-1" class="input-group date form_date"
                                data-link-field="dtp_input1" data-date-format="yyyy-mm-dd">
                                {{ form.start_time }}
                                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                <span class="input-group-addon"><span
                                        class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                            <input type="hidden" id="dtp_input1" value="" />
                            {{ form.start_time.errors }}
                        </div>

                        <div class="form-group">
                            <label>
                                {{ form.deadline.label }}
                                <label style="color: red; margin-bottom: 0;">
                                    {% if form.deadline.field.required %} * {% endif %}
                                </label>
                            </label>
                            <div id="demo-dp-component-2" class="input-group date form_date"
                                data-link-field="dtp_input1" data-date-format="yyyy-mm-dd">
                                {{ form.deadline }}
                                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                <span class="input-group-addon"><span
                                        class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                            <input type="hidden" id="dtp_input1" value="" />
                            {{ form.deadline.errors }}
                        </div>

                        <br>
                        <button type="submit" class="btn btn-lg btn-block btn-primary"> Submit
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        $("select#id_financing_agent").select2({ placeholder: "--select--", allowClear: true });
        $("select#search-input-select-organization-id").select2({ placeholder: "--select--", allowClear: true });
        $("select#id_project_implementer").select2({ placeholder: "--select--", allowClear: true }); 
        $("select#id_project_implementer").trigger("chosen:updated");
        $("select#id_financing_agent").select2({ placeholder: "--select--", allowClear: true }); 
        $("select#id_financing_agent").trigger("chosen:updated"); 
     });
</script>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        $('.form_date').datetimepicker({
            format: 'yyyy-mm-dd',
            autoclose: true,
            todayBtn: true,
            todayHighlight: true,
            pickTime: false,
            minView: 2,
            startDate: '2020-01-01',
            pickerPosition: "top-left",
        });
    });
</script>
<script>
    $(document).ready(function() {
     // Initialize the popover
  $('#add-implementer').popover({
    content: $('#implementer_add').html(),
    html: true
  });
  // Submit the organization form separately
  $('#id_form_implementer').submit(function(e) {
    e.preventDefault();
    $.ajax({
      url: $(this).attr('action'),
      type: 'POST',
      data: $(this).serialize(),
      success: function(response) {
        return;
      },
      error: function(xhr) {
        // Handle error response
        console.log(xhr.responseText);
      }
    });
})

 });
</script>
<script>
    $.ajax({
        url: `{% url 'get_financing_agents' %}`,
        type: 'GET',
        success: function(data) {
            var agentsOptionsList = $('#id_financing_agent');
            agentsOptionsList.empty();
            agentsOptionsList.append(data)
            return 
        },
        error: function(xhr) {
            // Handle any error that occurs during the request
            console.log(xhr.responseText);
  }
});
</script>
<script>
    $.ajax({
        url: `{% url 'implementers_fetch_all' %}`,
        type: 'GET',
        success: function(data) {
            // Handle the data returned from the server
            var implementerOptionsList = $('#id_project_implementer');
            implementerOptionsList.empty();
            implementerOptionsList.append(data)
            return 
        },
        error: function(xhr) {
            // Handle any error that occurs during the request
            console.log(xhr.responseText);
  }
});
</script>
{% endblock %}