<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="frame-40386">
    <div class="dashboard">
      <div class="background">
        <div class="breadcrumb">
          <div class="text">
            <p class="home-dashboard">
              <span class="home-dashboard-sub-7"></span><span class="home-dashboard-sub-0"></span><span></span>
            </p>
            <span class="dashboard-16">
              Dashboard
            </span>
          </div>
          <div class="menu">
            <div class="container">
              <div class="input-with-addons">
                <div class="auto-added-frame">
                  <img class="vector" />
                </div>
                <div class="input-field-text">
                  <span class="search-here">
                    Search here...
                  </span>
                </div>
              </div>
              <div class="list-item-default">
                <img class="ionicon-ppersondefault" />
                <span class="qt-support">
                  Qt Support
                </span>
              </div>
            </div>
            <div class="container-155">
              <div class="bxschevron-up">
                <img class="vector-23" />
              </div>
              <img class="ionicon-nnotificationsdefault" />
            </div>
          </div>
        </div>
        <div class="navigation-header">
          <div class="container-150">
            <span class="overview">
              Overview
            </span>
          </div>
          <div class="tab-menu">
            <span class="users">
              Users 
            </span>
            <span class="reported-organizations">
              Reported Organizations
            </span>
          </div>
        </div>
        <div class="first-cards">
          <div class="today-s-money">
            <div class="container-78">
              <div class="title-12">
                Total Organisations
              </div>
              <img class="icon-13" />
            </div>
            <span class="242">
              242
            </span>
          </div>
          <div class="today-s-users">
            <div class="container-72">
              <div class="title-7">
                Total Projects
              </div>
              <img class="icon-8" />
            </div>
            <span class="100">
              100
            </span>
          </div>
          <div class="new-clients">
            <div class="container-153">
              <div class="title-2">
                Users
              </div>
              <img class="icon-3" />
            </div>
            <span class="10">
              10
            </span>
          </div>
          <div class="total-sales">
            <div class="container-158">
              <div class="title">
                Reported Organisation
              </div>
              <img class="icon" />
            </div>
            <span class="562">
              562
            </span>
          </div>
        </div>
      </div>
      <div class="container-157">
        <div class="component-6">
          <div class="component-4">
            <div class="container-146">
              <span class="budget">
                Budget
              </span>
            </div>
            <div class="tab-menu-75">
              <span class="expenditure">
                Expenditure
              </span>
            </div>
          </div>
        </div>
        <div class="group-1000002744">
          <span class="2024">
            2012-2024
          </span>
          <div class="system-uiconschevron-up">
            <img class="vector-77" />
          </div>
        </div>
      </div>
      <div class="container-149">
        <div class="statistics">
          <div class="statistics-details">
            <div class="header">
              <div class="frame-40384">
                <span class="weekly-comparison">
                  Weekly Comparison
                </span>
                <div class="chevron-down">
                  <img class="vector-163" />
                </div>
              </div>
              <div class="indicator">
                <div class="this-week">
                  <div class="rectangle-69">
                  </div>
                  <span class="total-health-bugdet">
                    Total Health Bugdet
                  </span>
                </div>
                <div class="last-week">
                  <div class="rectangle-6924">
                  </div>
                  <span class="total-health-shared">
                    Total Health Shared
                  </span>
                </div>
              </div>
            </div>
            <div class="graph">
              <div class="line">
                <span class="90000">
                  90000
                </span>
                <div class="line-7">
                </div>
              </div>
              <div class="line-25">
                <span class="60000">
                  60000
                </span>
                <div class="line-8">
                </div>
              </div>
              <div class="line-26">
                <span class="30000">
                  30000
                </span>
                <div class="line-9">
                </div>
              </div>
              <div class="line-27">
                <span class="10000">
                  10000
                </span>
                <div class="line-10">
                </div>
              </div>
              <div class="line-28">
                <span class="0">
                  0
                </span>
                <div class="line-11">
                </div>
              </div>
              <div class="bar">
                <div class="graph-bar-01">
                  <div class="bar-29">
                    <div class="rectangle-53">
                    </div>
                    <div class="rectangle-54">
                    </div>
                  </div>
                  <span class="2013">
                    2012-2013
                  </span>
                </div>
                <div class="bar-30">
                  <div class="bar-31">
                    <div class="rectangle-5332">
                    </div>
                    <div class="rectangle-5433">
                    </div>
                  </div>
                  <span class="2015">
                    2014-2015
                  </span>
                </div>
                <div class="bar-34">
                  <div class="bar-35">
                    <div class="rectangle-5336">
                    </div>
                    <div class="rectangle-5437">
                    </div>
                  </div>
                  <span class="2017">
                    2016-2017
                  </span>
                </div>
                <div class="bar-38">
                  <div class="bar-39">
                    <div class="rectangle-5340">
                    </div>
                    <div class="rectangle-5441">
                    </div>
                  </div>
                  <span class="2019">
                    2018-2019
                  </span>
                </div>
                <div class="bar-42">
                  <div class="bar-43">
                    <div class="rectangle-5344">
                    </div>
                    <div class="rectangle-5445">
                    </div>
                  </div>
                  <span class="2021">
                    2020-2021
                  </span>
                </div>
                <div class="bar-46">
                  <div class="bar-47">
                    <div class="rectangle-5348">
                    </div>
                    <div class="rectangle-5449">
                    </div>
                  </div>
                  <span class="2023">
                    2022-2023
                  </span>
                </div>
                <div class="bar-50">
                  <div class="bar-51">
                    <div class="rectangle-5352">
                    </div>
                    <div class="rectangle-5453">
                    </div>
                  </div>
                  <span class="2025">
                    2024-2025
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="total-revenue">
          <div class="header-135">
            <div class="frame-40384136">
              <span class="weekly-comparison-137">
                Weekly Comparison
              </span>
              <div class="chevron-down-138">
                <img class="vector-197" />
              </div>
            </div>
            <div class="indicator-139">
              <div class="this-week-140">
                <div class="rectangle-69141">
                </div>
                <span class="trends-in-domestic">
                  Trends in Domestic
                </span>
              </div>
              <div class="last-week-142">
                <div class="rectangle-69143">
                </div>
                <span class="trend-in-external-sources">
                  Trend In External sources
                </span>
              </div>
            </div>
          </div>
          <div class="group-1000002743">
            <div class="group-1000002741">
              <div class="container-152">
                <span class="k">
                  5
                </span>
                <img class="path-2-copy-5" />
              </div>
              <div class="container-198">
                <span class="k-55">
                  4
                </span>
                <img class="path-2-copy-4" />
              </div>
              <div class="container-148">
                <span class="k-57">
                  3
                </span>
                <img class="path-2-copy-3" />
              </div>
              <div class="container-147">
                <span class="k-56">
                  2
                </span>
                <img class="path-2-copy-2" />
              </div>
              <div class="container-151">
                <span class="k-58">
                  1
                </span>
                <img class="path-2-copy" />
              </div>
              <div class="container-154">
                <span class="059">
                  0
                </span>
                <img class="path-2" />
              </div>
              <div class="group-14">
                <div class="rectangle-copy-8">
                </div>
                <div class="rectangle-copy-9">
                </div>
              </div>
              <div class="rectangle-copy-860">
              </div>
              <div class="rectangle-copy-961">
              </div>
              <div class="rectangle-copy-862">
              </div>
              <div class="rectangle-copy-963">
              </div>
              <div class="rectangle-copy-864">
              </div>
              <div class="rectangle-copy-965">
              </div>
              <div class="group-14-copy-4">
                <div class="rectangle-copy-866">
                </div>
                <div class="rectangle-copy-967">
                </div>
              </div>
              <div class="rectangle-copy-868">
              </div>
              <div class="rectangle-copy-969">
              </div>
              <div class="rectangle-copy-870">
              </div>
              <div class="rectangle-copy-971">
              </div>
            </div>
            <div class="container-144">
              <span class="2013133">
                2012-2013
              </span>
              <span class="2017128">
                2016-2017
              </span>
              <span class="2019129">
                2018-2019
              </span>
              <span class="2021130">
                2020-2021
              </span>
              <span class="2023131">
                2022-2023
              </span>
              <span class="2025132">
                2024-2025
              </span>
              <span class="2027">
                2026-2027
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="example">
        <div class="table">
          <div class="table-header">
            <div class="table-header-79">
              <span class="cls-ax-1-a-bj-9-rt-2-nd-hbt-9-tq-pauw-5-ni-9-qah-g-3-bgn-suw-hp-nlo-tw">
                Indicators
              </span>
            </div>
            <div class="table-header-80">
            </div>
            <div class="table-header-81">
            </div>
            <div class="table-header-82">
              <span class="164">
                2021-2022
              </span>
            </div>
            <div class="table-header-83">
              <span class="165">
                2021-2022
              </span>
            </div>
            <div class="table-header-84">
              <span class="166">
                2021-2022
              </span>
            </div>
          </div>
          <div class="table-row">
            <div class="table-content">
              <span class="167">
                Total Health Budget (in Billion RWF
              </span>
            </div>
            <div class="table-content-85">
            </div>
            <div class="table-content-86">
            </div>
            <div class="table-content-87">
            </div>
            <div class="table-content-88">
              <span class="168">
                3,900,900,000
              </span>
            </div>
            <div class="table-content-113">
              <span class="177">
                3,900,900,000
              </span>
            </div>
            <div class="table-content-118">
              <span class="182">
                3,900,900,000
              </span>
            </div>
          </div>
          <div class="table-row-89">
            <div class="table-content-106">
              <span class="170">
                Total Health Budget as 5 of GDP
              </span>
            </div>
            <div class="table-content-90">
            </div>
            <div class="table-content-91">
            </div>
            <div class="table-content-92">
            </div>
            <div class="table-content-93">
              <span class="169">
                3,900,900,000
              </span>
            </div>
            <div class="table-content-114">
              <span class="178">
                3,900,900,000
              </span>
            </div>
            <div class="table-content-119">
              <span class="183">
                3,900,900,000
              </span>
            </div>
          </div>
          <div class="table-row-94">
            <div class="table-content-107">
              <span class="171">
                Domestic
              </span>
            </div>
            <div class="table-content-95">
            </div>
            <div class="table-content-96">
            </div>
            <div class="table-content-97">
            </div>
            <div class="table-content-110">
              <span class="174">
                3,900,900,000
              </span>
            </div>
            <div class="table-content-115">
              <span class="179">
                3,900,900,000
              </span>
            </div>
            <div class="table-content-120">
              <span class="184">
                3,900,900,000
              </span>
            </div>
          </div>
          <div class="table-row-98">
            <div class="table-content-108">
              <span class="172">
                Axternal 
              </span>
            </div>
            <div class="table-content-99">
            </div>
            <div class="table-content-100">
            </div>
            <div class="table-content-101">
            </div>
            <div class="table-content-111">
              <span class="175">
                3,900,900,000
              </span>
            </div>
            <div class="table-content-116">
              <span class="180">
                3,900,900,000
              </span>
            </div>
            <div class="table-content-121">
              <span class="185">
                3,900,900,000
              </span>
            </div>
          </div>
          <div class="table-row-102">
            <div class="table-content-109">
              <span class="173">
                OOP
              </span>
            </div>
            <div class="table-content-103">
            </div>
            <div class="table-content-104">
            </div>
            <div class="table-content-105">
            </div>
            <div class="table-content-112">
              <span class="176">
                3,900,900,000
              </span>
            </div>
            <div class="table-content-117">
              <span class="181">
                3,900,900,000
              </span>
            </div>
            <div class="table-content-122">
              <span class="186">
                3,900,900,000
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="sidebar">
        <div class="container-156">
          <img class="ellipse-1" />
          <div class="hrtt">
            HRTT
          </div>
        </div>
        <div class="vector-6">
        </div>
        <div class="group-1000002747">
          <div class="main">
            Main
          </div>
          <div class="menu-123">
            <div class="dashboard-126">
              <div class="container-145">
                <img class="ionicon-hhomedefault" />
              </div>
              <div class="dashboard-127">
                Dashboard
              </div>
            </div>
            <div class="tables">
              <div class="mdibank">
                <img class="vector-134" />
              </div>
              <span class="organizations">
                Organizations
              </span>
            </div>
            <div class="billing">
              <img class="ionicon-ccarddefault" />
              <span class="projects">
                Projects
              </span>
            </div>
            <div class="rtl">
              <div class="ionicon-sstatschart">
                <img class="vector-193" />
                <img class="vector-196" />
                <img class="vector-194" />
                <img class="vector-195" />
              </div>
              <span class="reports">
                Reports
              </span>
            </div>
            <div class="system-admin">
              System Admin
            </div>
            <div class="profile">
              <img class="ionicon-ppersondefault-124" />
              <span class="users-125">
                Users
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>