{% extends '_include/base-login.html' %}{% block head %}{% load static %}<title>{{ APP_CONSTANT_APP_NAME }}:
    User Forgot Password</title>
{% endblock %}{% block body %}{% load static %}
    <div class="cls-content">
        <div class="cls-content-sm panel" style="background-color: rgba(255, 255, 255, 1.0); width: 360px;">
            <div class="panel-body">{% load static %}{% include '_include/alert.html' %}
                <div class="mar-ver">
                    <img src="{% static 'img/app/logo.png' %}" width="100"/>
                    <h3 style="color: {{ COLOR_ACCENT }}">HRTT</h2>
                    <p class="text-muted" style="color: #000; font-weight: bold;">Forgot Password</p>
                </div>
                <div style="width:100%; color:#023047; font-weight: bold; text-align: left; float: left;">
                    <form method="post" action="">{% csrf_token %}
                        <div class="form-group">
                            <label style="color: #000; font-weight: bold;">
                                {{ form.email.label }}
                                <label style="color: red; margin-bottom: 0;">
                                    {% if form.email.field.required %} * {% endif %}
                                </label>
                            </label>
                            {{ form.email }}{{ form.email.errors }}
                        </div>
                        <button type="submit" class="btn btn-lg btn-block btn-primary"> Submit
                        </button>
                    </form>
                </div>
            </div>
            <div>
                <div class="center-block">
                    <a href="{% url 'users_signin' %}" class="btn-link" style="font-weight: bold;"> Go to Login</a>
                </div>
            </div>
            <div class="pad-all">
                <div class="pull-right">
                    <a href="{{ APP_CONSTANT_COMPANY_WEBSITE_2 }}" class="btn-link" style="font-weight:bold" target="_blank" rel="noopener">{{ APP_CONSTANT_COMPANY_NAME_2 }}</a>
                </div>
                <div class="media-body text-left">
                    <a href="{{ APP_CONSTANT_COMPANY_WEBSITE }}" class="btn-link" style="font-weight:bold" target="_blank" rel="noopener">{{ APP_CONSTANT_COMPANY_NAME }}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}