{% extends '_include/base-general.html' %}
{% block head %}
    {% load static %}
    <title>{{ APP_CONSTANT_APP_NAME }} : {{ title }}</title>
{% endblock %}

{% block body %}
    {% load static %}{% csrf_token %}
    <div id="page-head">
        <div id="page-title">
            <h1 class="page-header text-overflow">{{ title }}</h1>
        </div>
        <ul class="breadcrumb">
            <li><a href="{% url 'users_dashboard' %}">Home</a></li>
        <li><a href="{% url 'users_index' %}">{{ title }}</a></li>
        <li><a href="{% url 'users_view' pk=model.user_id %}">{{ model.user_id }}</a></li>
        <li class="active">Reset Password</li>
        </ul>
    </div>
    <div id="page-content" style="padding-top:0px;">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel">
                    <div class="panel-body">
                        <form method="post" action="">
                            {% csrf_token %}
                            <div class="form-group">
                                <label>
                                    {{ form.email.label }}
                                    <label style="color: red; margin-bottom: 0;">
                                        {% if form.email.field.required %} * {% endif %}
                                    </label>
                                </label>
                                {{ form.email }}{{ form.email.errors }}
                            </div>
                            <div class="form-group">
                                <label>
                                    {{ form.password.label }}
                                    <label style="color: red; margin-bottom: 0;">
                                        {% if form.password.field.required %} * {% endif %}
                                    </label>
                                </label>
                                {{ form.password }}{{ form.password.errors }}
                            </div>
                            <div class="form-group">
                                <label>
                                    {{ form.repeat_password.label }}
                                </label>
                                <label style="color: red; margin-bottom: 0;">
                                    {% if form.repeat_password.field.required %} * {% endif %}
                                </label>
                                {{ form.repeat_password }}
                                {{ form.repeat_password.errors }}
                            </div>
                            <br>
                            <button type="submit" class="btn btn-lg btn-block btn-primary"> Submit
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}