{% extends TEMPLATE_PATH_FRONTEND|add:'_include/base-index-dark.html' %}{% block head %}{% load static %}
    <title>{{ APP_CONSTANT_APP_NAME }}</title>{% endblock %}
{% block body %}{% load static %}
    <style>
        .page-header {
            padding-top: 5rem !important;;
            padding-bottom: 1rem !important;;
        }
    </style>
    <header class="page-header page-header-dark bg-gradient-primary-to-secondary">
    </header>
    <section class=" py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md12 mb-5">
                    <div class="card text-center text-decoration-none h-100">
                        <div class="card-body py-5">
                            <div class="icon-stack icon-stack-lg bg-red-soft text-red mb-4">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                     fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                     stroke-linejoin="round" class="feather feather-x">
                                    <line x1="18" y1="6" x2="6" y2="18"></line>
                                    <line x1="6" y1="6" x2="18" y2="18"></line>
                                </svg>
                            </div>
                            <h5>500: SERVER ERROR</h5>
                            <p class="card-text small">Something went wrong. Please contact admin for support.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}