<!-- {% load static %}
<footer id="footer">
    <div class="show-fixed pull-right no-print">
        You have <a href="#!" class="text-bold text-main"><span class="label label-danger">3</span> pending
            action.</a>
    </div>
    <div class="hide-fixed pull-right pad-rgt no-print">
        <strong>{{ APP_CONSTANT_APP_NAME_NO_SPACE }} ({{ APP_CONSTANT_APP_VERSION_CODE }})</strong>
    </div>
    <p class="pad-lft no-print">
        <b>&#0169; {% now 'Y' %}</b>
        <a href="{{ APP_CONSTANT_COMPANY_WEBSITE }}">
            <b style="color: {{ COLOR_ACCENT }};">{{ APP_CONSTANT_COMPANY_NAME }}</b>
        </a>
    </p>
</footer> -->