{% load static %}
<nav class="navbar navbar-marketing navbar-expand-lg bg-white navbar-light">
    <div class="container">
        <a class="navbar-brand text-dark" href="{% url 'frontend_index' %}">HRTT</a><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i data-feather="menu"></i></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mr-lg-5">
                <li class="nav-item"><a class="nav-link" href="{% url 'frontend_faq' %}">FAQ</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'frontend_contact' %}">Contact</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'frontend_about' %}">About</a></li>
            </ul>
            <a class="btn-primary btn rounded-pill px-4 ml-lg-4" href="{% url 'backend_index' %}">Login<i class="fas fa-arrow-right ml-1"></i></a>
        </div>
    </div>
</nav>